<?php
/**
 *
 * @category    design
 * @package     base_default
 * To render all the top level catgories.
 */
    function truncateWords($input, $numwords, $padding="")
    {
        $output = strtok($input, " \n");
        while(--$numwords > 0) $output .= " " . strtok(" \n");
        if($output != $input) $output .= $padding;
        return $output;
    }
?>
<?php
$actualCategoryId = $this->getCurrentCategory ()->getId ();
$subCategories =Mage::getModel('catalog/category')->load($actualCategoryId)->getChildrenCategories();
?>
<div class="category-products">
	<?php
	$i=0;
	foreach ($subCategories as $_category):
		$category_id = $_category->getId();
		$category_object = Mage::getModel('catalog/category')->load( $category_id);
		$_imageUrl=$category_object->getImageUrl();
		$_categoryUrl = $_category->getUrl();
		?>
		<?php if($i++%3==0): ?>
			<ul class="products-grid first odd">
		<?php endif; ?>
		<?php if($i%3==0):?>
			<li class="item last">
		<?php else:?>
			<li class="item">
		<?php endif; ?>
				<a class="product-image" title="<?php echo $this->htmlEscape($category_object->getName()) ?>" 
				href="<?php echo $_categoryUrl ?>">
				<img width=230 height=230 alt="<?php echo $this->htmlEscape($category_object->getName()) ?>" 
				src="<?php echo (($_imageUrl =='') ? $this->getBaseUrl('').'media/catalog/category/no_image_c.jpg' : $_imageUrl); ?>"></a>
				<h2 class="product-name"><a title="<?php echo $this->htmlEscape($category_object->getName()) ?>" href="<?php echo $_categoryUrl ?>"><?php echo $this->htmlEscape($category_object->getName()) ?></a></h2>
				<div class="sub-cat-desc">
                    <?php
                        $limit = 50;
                      //  $string = substr($string,100,100).'...';
                     //factory99 edit stripping tags $description = strip_tags($category_object->getDescription());
                        $description = ($category_object->getDescription());

                        echo substr(truncateWords($description,$limit),0,260) . "….";
                    ?>
                    <a title="<?php echo $this->htmlEscape($category_object->getName()) ?>" href="<?php echo $_categoryUrl ?>">view products</a>
				</div>
		<?php if($i%3==0): ?>
				</ul>
		<?php endif; ?>
	<?php endforeach; ?>
</div>