<?php
$_attributes = $this->getAttributes();
?>
<div class="cataloglabel cataloglabel-product-view cataloglabel-<?php echo $this->getPlaceholderCode() ?>">
<table>
    <?php foreach ($_attributes as $_attribute): ?>
        <?php if ($_attribute->getImage()): ?>
        <tr>
            <td>
                <img src="<?php echo $this->helper('mstcore/image')->init($_attribute, 'image', 'cataloglabel')->resize($this->getWidth(), $this->getHeight()) ?>">
            </td>
            <td>
                <b><?php echo $_attribute->getTitle() ?></b>
                <?php echo $_attribute->getDescription() ?>
                &nbsp;
            </td>
        </tr>
        <?php endif ?>
    <?php endforeach ?>
</table>
</div>