<?php
/**
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 *
 * @category    design
 * @package     base_default
 * @copyright   Copyright (c) 2011-2012 Sergey Storchay <r8@r8.com.ua>
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
?>

<?php $quote = Mage::getSingleton('checkout/session')->getQuote();
        $cartItems = $quote->getAllVisibleItems();
        foreach ($cartItems as $item)
        {
            $productId = $item->getProductId();
			 $productName = $item->getName();
            $product = Mage::getModel('catalog/product')->load($productId);
   $country_id = Mage::getSingleton('checkout/session')->getQuote()->getShippingAddress()->getData('country_id');

   $grandTotal = $this->helper('checkout')->getQuote()->getGrandTotal();

   $free_shipping= Mage:: getModel('catalog/product')->load($productId)->getAttributeText('free_shipping');    
   if((isset($free_shipping) && $country_id =="AU") && $free_shipping!='No Free Shipping' && $grandTotal>=80){
   $fship .= '- '.htmlspecialchars($productName) .' (Free Shipping)<br> ';
   $fship1 = '<strong>The following items had free shipping only on this order</strong><br>'.$fship.'<br><br>';
   }


   $pickup_only= Mage:: getModel('catalog/product')->load($productId)->getAttributeText('pickup_only');
   if(isset($pickup_only) && $pickup_only!='No Pickup'){
   $pkp .= '- '.htmlspecialchars($productName) .' (Pickup Only)<br>';
   $pkp1 = '<strong>The following items were pickup only on this order</strong><br>'.$pkp.'<br><br>';
   } 


   $a01_specialorder_admin= Mage:: getModel('catalog/product')->load($productId)->getAttributeText('a01_specialorder_admin');
   if(isset($a01_specialorder_admin) && $a01_specialorder_admin!='No'){
   $spo .= '- '.htmlspecialchars($productName) .' (Special Order Only)<br>';
   $spo1 = '<strong>The following items were Special Order on this order</strong><br>'.$spo.'<br><br>';
   } 





   $a01_backorder_admin= Mage:: getModel('catalog/product')->load($productId)->getAttributeText('a01_backorder_admin');
   if(isset($a01_backorder_admin) && $a01_backorder_admin!='No'){
   $bko .= '- '.htmlspecialchars($productName) .' (Back Order - No1)<br>';
   $bko1 = '<strong>The following items were Back Order on this order</strong><br>'.$bko.'<br><br>';
   } 
 

   $a02_backorder_admin= Mage:: getModel('catalog/product')->load($productId)->getAttributeText('a02_backorder_admin');
   if(isset($a02_backorder_admin) && $a02_backorder_admin!='No'){
   $bko2 .= '- '.htmlspecialchars($productName) .' (Back Order - No2)<br>';
   $bko2 = '<strong>The following items were Back Order on this order</strong><br>'.$bko2.'<br><br>';
   } 
 

   $a03_backorder_admin= Mage:: getModel('catalog/product')->load($productId)->getAttributeText('a03_backorder_admin');
   if(isset($a03_backorder_admin) && $a03_backorder_admin!='No'){
   $bko3 .= '- '.htmlspecialchars($productName) .' (Back Order - No3)<br>';
   $bko3o = '<strong>The following items were Back Order on this order</strong><br>'.$bko3.'<br><br>';
   } 
 

   $a04_backorder_admin= Mage:: getModel('catalog/product')->load($productId)->getAttributeText('a04_backorder_admin');
   if(isset($a04_backorder_admin) && $a04_backorder_admin!='No'){
   $bko4 .= '- '.htmlspecialchars($productName) .' (Back Order - No4)<br>';
   $bko4 = '<strong>The following items were Back Order on this order</strong><br>'.$bko4.'<br><br>';
   } 
 

   $a05_backorder_admin= Mage:: getModel('catalog/product')->load($productId)->getAttributeText('a05_backorder_admin');
   if(isset($a05_backorder_admin) && $a05_backorder_admin!='No'){
   $bko5 .= '- '.htmlspecialchars($productName) .' (Back Order - No5)<br>';
   $bko5 = '<strong>The following items were Back Order on this order</strong><br>'.$bko5.'<br><br>';
   } 
 
 


        // Do something
}?>


<form action="" id="checkout-agreements" onsubmit="return false;">
    <div class="buttons-set">
        <ul class="form-list">
            <li>
                <fieldset>
                    <ul>
                        <li class="wide">
                            <?=$fship1?>
                            <input name="ptest[comt]" type="hidden" value="<?=$fship1?>" id="ptest-comt"/>
                            <?=$pkp1?>
                            <input name="ptest1[comt1]" type="hidden" value="<?=$pkp1?>" id="ptest1-comt1"/>
                            <?=$spo1?>
                            <input name="ptest2[comt2]" type="hidden" value="<?=$spo1?>" id="ptest2-comt2"/>                            
                            <?=$bko1?>
                            <input name="ptest3[comt3]" type="hidden" value="<?=$bko1?>" id="ptest3-comt3"/>
                            <?=$bko2?>
                            <input name="ptest4[comt4]" type="hidden" value="<?=$bko2?>" id="ptest4-comt4"/>
                            <?=$bko3?>
                            <input name="ptest5[comt5]" type="hidden" value="<?=$bko3?>" id="ptest5-comt5"/>
                            <?=$bko4?>
                            <input name="ptest6[comt6]" type="hidden" value="<?=$bko4?>" id="ptest6-comt6"/>
                            <?=$bko5?>
                            <input name="ptest7[comt7]" type="hidden" value="<?=$bko5?>" id="ptest7-comt7"/>



                            <label for="ordercomment-comment"><?php echo Mage::helper('ordercomment')->__('Order Comment') ?></label>

                            <div class="input-box">
                            <textarea id="ordercomment-comment" class="input-text validation-passed" name="ordercomment[comment]" title="<?php echo $this->__('Order Comment') ?>" rows="5" cols="10"></textarea>
                            </div>
                        </li>
                    </ul>
                </fieldset>
            </li>
        </ul>
    </div>

    <?php if ($this->getAgreements()): ?>
        <ol class="checkout-agreements">
            <?php foreach ($this->getAgreements() as $_a): ?>

            <li>
                <div class="agreement-content"<?php echo ($_a->getContentHeight() ? ' style="display:none;height:' . $_a->getContentHeight() . '"' : '')?>>
                    <?php //if ($_a->getIsHtml()):?>
                    <?php //echo $_a->getContent() ?>
                    <?php //else:?>
                    <?php //echo nl2br($this->htmlEscape($_a->getContent())) ?>
                    <?php //endif; ?>
                    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('sales_terms_conditions')->toHtml(); ?>
                </div>
                <p class="agree">
                    <input type="checkbox" id="agreement-<?php echo $_a->getId()?>" name="agreement[<?php echo $_a->getId()?>]" value="1" title="<?php echo $this->htmlEscape($_a->getCheckboxText()) ?>" class="checkbox" /><label class="bss-checkbok" style="text-decoration: underline;" for="agreement-<?php echo $_a->getId()?>"><?php echo $_a->getIsHtml() ? $_a->getCheckboxText() : $this->htmlEscape($_a->getCheckboxText()) ?> </label> &nbsp;(Click to read)
                </p>
            </li>
            <?php endforeach ?>
            <!-- <li>
              <input type="checkbox" name="is_subscribed" title="<?php echo $this->__('Sign Up for Newsletter') ?>" value="1" id="is_subscribed" checked="checked" class="checkbox" checked="checked" />
              <label for="is_subscribed"><?php echo $this->__('Free MICA VIP Membership') ?></label>
            </li> -->
        </ol>
    <?php endif; ?>
</form>
<script>
  jQuery(document).ready(function($) {
    jQuery('.agreement-content').hide();    
    jQuery('.bss-checkbok').click(function() {
      if($(this).is(':checked')) {
          jQuery(".agreement-content").slideDown(); 
      } else {
          jQuery(".agreement-content").slideUp(); 
      }
    });
  });
</script>