/**{font-family: Arial, Helvetica, sans-serif;}*/

/*Product Page*/
.product-view .tabs-items {
    border: 1px solid #cccccc;
    background-color: #f4f4f4;
}

.product-collateral .product-item > li{display: inline-block;}
.product-view .tabs-items > li > a span:hover {
    color: #3399cc;
}

.product-collateral .product-item > li > a > span{
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    color: #636363;
    padding: 0 30px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}
.product-view .product-item > li.show {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    height: 40px;
    background-color: #FFF;
}

.product-view .product-item > li.show span {
    color: #3399cc;
}
/*.product-collateral .product-item > li > a.active{
    color: #FDD922;
    background-position: left -34px;
    text-decoration: none;
    cursor: pointer;
}*/
#detail-grid-tab.product-collateral{
	background-color: #fefefe !important;
    padding: 20px !important;
    border: 1px solid #ccc;
    border-top: none;
}
.catalog-product-view .footer-container {
    padding: 0;
    border: none;
}
@media only screen and (min-width: 1024px) {
    .product-collateral .product-item > li > a > span{padding: 0px 30px;}
}

@media only screen and (min-width: 768px) {
	.product-collateral .product-item > li > a > span{padding: 0px 8px;}
	.product-collateral .product-item > li > a {padding-left: 5px; display: inline-block;}
    .product-view .product-item > li.show {
        border-right: 1px solid #cccccc;
        border-left: 1px solid #cccccc;
        position: relative;
        bottom: -1px;
        left: -1px;
    }
}
@media only screen and (max-width: 767px){
	.product-collateral .product-item > li{
	    margin: 0px;
	    padding: 0px;
	    display: block;
	    width: 100%;
	    border-bottom: 1px solid #cccccc;
	}
    .product-view .product-item > li:last-child{border-bottom: none;}
    .product-collateral .product-item > li > a {
        display: block;
    }
}
.contact-wrap{padding: 0 0 0 15px;}
.contact-wrap .contact-form{
    margin-top: 15px;
    width: 50%;
    float: left;
    padding: 15px;
    background-color: #f5f5f5;
}
.cms-page-view .std .contact-wrap h2{
    color: #333;
    font-weight: normal;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
.std .contact-form ul.form-list{margin: 0;}
.contact-form .form-list select{
    width: 85%;
    padding: 0px 5px;
    margin: 5px 0 2px;
    outline: none;
    font-size: 13px;
    background-color: #f0f0f0;
    height: 35px;
    color: #202020;
    border: 1px #d3d3d3 solid;
}
.form-list label{
    position: relative;
    z-index: 0;
    font-weight: normal;
    color: #333;
    display: inline;
    font-style: initial;
    font-family: Arial, Helvetica, sans-serif;
}
.form-list label.required em,.form-list span.required em{color: #FF0000;display: inherit;}
.form-list label.required:after,.form-list span.required:after{content: ''}
.form-list textarea{
    width: 85%;
    padding: 0px;
    height: 10em;
    margin-bottom: 0;
    outline: medium none;
    line-height: 20px;
    background-color: #f0f0f0;
    border: 1px #d3d3d3 solid;
}
.form-list input.input-text{
    background: #f0f0f0;
    border: 1px solid #d3d3d3;
    padding: 10px;
    width: 80%;
    margin-top: 5px;
    outline: none;
}
.form-list input.input-text:focus,.form-list select:focus,.form-list textarea:focus{
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    outline: none;
}
.contact-form .buttons-set p.required{display: none;}
.contact-form .buttons-set{border-top: none;}
.contact-form .buttons-set button.button{
    display: inline;
    margin-bottom: 0px;
    background: #007FB8;
    color: #fff;
    float: right;
    margin-right: 45px;
    font-size: 11px;
    padding: 8px 12px;
    width: auto;
    min-width: inherit;
}
.contact-wrap .contact-info{width: 50%;float: left;padding: 15px;}
#map-canvas-2{text-align: center;}
.cms-page-view .std .contact-info p{
    padding-top: 5px;
    line-height: 1.4em;
    font-size: 13px;
    margin: 0;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
}
.contact-wrap .contact-info .info{
    border-bottom: 3px solid #007fb8;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: left;
}

*JALERT*/
#popup_container {
    font-family: Arial, sans-serif;
    font-size: 12px;
    min-width: 300px; /* Dialog will be no smaller than this */
    max-width: 600px; /* Dialog will wrap after this width */
    background: #FFF;
    border: solid 5px #F60;
    color: #000;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
}

#popup_title {
    
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 1.75em;
    color: #FFF;
    /*background: #CCC url(../images/title.gif) top repeat-x;
    */
    background: #F60; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9900', endColorstr='#F60'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#FF9900), to(#F60)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #FF9900,  #F60); /* for firefox 3.6+ */ 
    
    border:none;
    cursor: default;
    padding: 5px 0px;
    margin: 0em;
}


#popup_container {width: 280px;}

#popup_content {
    background: 16px 16px no-repeat url(../images/info.gif);
    padding: 1em 1.75em;
    margin: 0em;
}

#popup_content.alert {
    background-image: url(../images/info.gif);
}

#popup_content.confirm {
    background-image: url(../images/important.gif);
}

#popup_content.prompt {
    background-image: url(../images/help.gif);
}

#popup_message {
    padding-left: 48px;
}

#popup_panel {
    text-align: center;
    margin: 1em 0em 0em 1em;
}

#popup_prompt {
    margin: .5em 0em;
}
#popup_container input[type=button]{
    background: #F60; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9900', endColorstr='#F60'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#FF9900), to(#F60)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #FF9900,  #F60); /* for firefox 3.6+ */ 
    outline:none;
    border:none;
    padding:5px 20px;
    color:#fff;
    font-weight:bold;
    font-size:1.2em;
    text-transform:uppercase;
    border-radius:5px;
    margin:5px;
    cursor:pointer;
    }
#blackfade{
    z-index:99998;
    top:-50px;
    left:-50px;
    bottom:-50px;
    right:-50px;
    background:url(../images/shade.png);
    position:fixed;
    }

/*^JALERT*/
@media only screen and (max-width: 1220px) and (min-width: 978px){
    .footer-bottom .inner {
        width: 100% !important;
    }
}

@media only screen and (min-width: 768px) and (max-width:977px) {
    .footer-container .newsletter-wrap .block-subscribe {
        width: 310px;
        margin-left: 0;
    }
    .footer-bottom .inner {
        width: 100% !important;
    } 
    .product-view .product-img-box {
        width: 100% !important;
    }
}
@media only screen and (max-width: 768px){
    .contact-wrap .contact-form{width: 100%;padding: 0;}
    .contact-wrap .contact-info{width: 100%;padding: 0;margin-top: 25px;margin-bottom: 25px;}
    .cms-page-view .std .contact-wrap h2{margin-left: 25px;}
    .contact-wrap{padding: 0;}
}
@media only screen and (max-width: 767px) and (min-width: 568px){
   .footer-bottom .inner {
        width: 100% !important;
    } 
    .footer-container .newsletter-wrap input {
        width: 300px !important;
    }
    .footer-container .footer-column {
        width: 30% !important;
    }
}

@media only screen and (max-width: 479px) and (min-width: 320px){
    .footer-bottom .inner {
        width: 100% !important;
        padding: 0px 3% !important;
    }
    .footer-bottom .bottom_links img{
        width: 100% !important;
    }
    .footer-container .newsletter-wrap {
        float: none !important;
        min-width: auto !important;
    }
    .footer-container .newsletter-wrap .block-subscribe .recaptcha{
        overflow: inherit !important;
    }
    .catalog-product-view .footer-container .newsletter-wrap .block-subscribe .recaptcha{
        overflow: hidden !important;
    }
    .footer-container .newsletter-wrap .inner {
        width: 100% !important;
        min-width: 100% !important;
    }
    .footer-container .newsletter-wrap input[type="text"] {
        width: 268px !important;
    }
    .catalog-product-view .main-container,.catalog-product-view .footer-container {
        padding: 4px !important;
        border: none !important;
    }
    .product-view .product-img-box {
        width: 100% !important;
    }
    
}
@media only screen and (max-width: 320px){
    .footer-container .footer-column {
        width: 100% !important;
    }
}

.footer-container .newsletter-wrap {
    float: right;
    width: 27%;
}
.footer-container .newsletter-wrap input {
    width: 310px;
    margin-bottom: 10px;
}
.footer-container .newsletter-wrap .block-subscribe .form-subscribe-header {
    display: none;
}
.footer-container .newsletter-wrap .button-subscribe {
    margin-right: 20px;
}
.footer-container .newsletter-wrap .block-subscribe .block-title {
    margin-bottom: 15px;
}
.footer-container .footer .left {
    float: left;
}
.footer-container .footer .left .store-hour {
    margin-top: 10px;
    text-transform: uppercase;
}
.footer-container .footer .phone {
    float: right;
    font-size: 21px;
    display: block;
}


.address {padding-bottom: 10px;}
.store-hour {padding-bottom: 10px;}

.footer-bottom .bottom_links {
    float: right;
}

div.copyright {
    float: left;
    color: #fff;
    padding: 10px;
    padding-bottom: 15px;
}

