.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a.product-image {
  position: relative;
}
.cataloglabel.cataloglabel-product-top-label {
  display: table;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  z-index: 10;
}
.cataloglabel.cataloglabel-product-top-label > span {
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  line-height: 14px;
  padding: 10px 10px;
}
.cataloglabel.cataloglabel-product-list img {
  margin-right: 3px;
}
.cataloglabel.cataloglabel-product-view img {
  margin-right: 10px;
}
.cataloglabel.cataloglabel-product-view table {
  width: 100%;
}
.cataloglabel.cataloglabel-product-view table td {
  text-align: left;
}
.cataloglabel.cataloglabel-product-view table td b {
  display: block;
}
.cataloglabel.position-TL {
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: 1000;
}
.cataloglabel.position-TR {
  top: 0px;
  right: 0px;
  left: auto;
  position: absolute;
  z-index: 1000;
}
.cataloglabel.position-TC {
  top: 0px;
  right: auto;
  left: 50%;
  position: absolute;
  z-index: 1000;
}
.cataloglabel.position-ML {
  top: 50%;
  bottom: auto;
  left: 0px;
  position: absolute;
  z-index: 1000;
}
.cataloglabel.position-MR {
  top: 50%;
  bottom: auto;
  right: 0px;
  left: auto;
  position: absolute;
  z-index: 1000;
}
.cataloglabel.position-MC {
  top: 50%;
  bottom: auto;
  right: auto;
  left: 50%;
  position: absolute;
  z-index: 1000;
}
.cataloglabel.position-BL {
  bottom: 0px;
  top: auto;
  left: 0px;
  position: absolute;
  z-index: 1000;
}
.cataloglabel.position-BR {
  bottom: 0px;
  top: auto;
  left: auto;
  right: 0px;
  position: absolute;
  z-index: 1000;
}
.cataloglabel.position-BC {
  bottom: 0px;
  top: auto;
  left: 50%;
  right: auto;
  position: absolute;
  z-index: 1000;
}
.category-products li.item {
  position: relative;
}
.tooltip {
  position: absolute;
  z-index: 1000;
  display: block;
  visibility: visible;
  font-size: 12px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}
.tooltip-inner {
  max-width: 200px;
  min-width: 70px;
  padding: 8px 4px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #666;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 10px;
}
.tooltip-inner b {
  display: block;
  font-size: 12px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #666;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #666;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #666;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #666;
}
.catalog-product-view-media {
  position: relative;
}