@import 'mixin.less';

a.product-image {
    position: relative;
}

.cataloglabel {
    &.cataloglabel-product-top-label {
        display: table;
        position: absolute;
        top: 0px;
        left: 0px;
        text-align: center;
        z-index: 10;

        >span {
            color: #fff;
            display: table-cell;
            vertical-align: middle;
            line-height: 14px;
            padding: 10px 10px;
        }
    }

    &.cataloglabel-product-list {
        img {
            margin-right: 3px;
        }
    }

    &.cataloglabel-product-view {
        img {
            margin-right: 10px;
        }
        table {
            width: 100%;

            td {
                text-align: left;

                b {
                    display: block;
                }
            }
        }
    }

    &.position-TL {
        top: 0px;
        left: 0px;
        position: absolute; 
    }
    &.position-TR {
        top: 0px;
        right: 0px;
        left: auto;
        position: absolute; 
    }
    &.position-TC {
        top: 0px;
        right: auto;
        left: auto;
        position: absolute; 
    }

    &.position-ML {
        top: auto;
        bottom: auto;
        left: 0px;
        position: absolute; 
    }
    &.position-MR {
        top: auto;
        bottom: auto;
        right: 0px;
        left: auto;
        position: absolute; 
    }
    &.position-MC {
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        position: absolute; 
    }

    &.position-BL {
        bottom: 0px;
        top: auto;
        left: 0px;
        position: absolute; 
    }
    &.position-BR {
        bottom: 0px;
        top: auto;
        left: auto;
        right: 0px;
        position: absolute; 
    }
    &.position-BC {
        bottom: 0px;
        top: auto;
        left: auto;
        right: auto;
        position: absolute; 
    }
}

.category-products {
    li.item {
        position: relative;
    }
}

//
// Tooltips
// --------------------------------------------------


// Base class
.tooltip {
  position: absolute;
  z-index: 1000;
  display: block;
  visibility: visible;
  font-size: 12px;
  line-height: 1.4;
  .opacity(0);
  &.in     { .opacity(90); }
  &.top    { margin-top:  -3px; padding: 5px 0; }
  &.right  { margin-left:  3px; padding: 0 5px; }
  &.bottom { margin-top:   3px; padding: 5px 0; }
  &.left   { margin-left: -3px; padding: 0 5px; }
}

// Wrapper for the tooltip content
.tooltip-inner {
  max-width: 200px;
  min-width: 70px;
  padding: 8px 4px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #666;
  .border-radius(3px);
  font-size: 10px;
  b {
    display: block;
    font-size: 12px;
  }
}

// Arrows
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip {
  &.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #666;
  }
  &.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #666;
  }
  &.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #666;
  }
  &.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #666;
  }
}
